<style type="text/css">
    div#error {
        position: absolute;
        bottom: 0;
        min-height: 573px;
        width: 100%;
        margin: 0;
        background: url(../images/404/404error.png) no-repeat;
    }

    div#grass {
        position: absolute;
        bottom: 0;
        width: 55%;
        height: 140px;
        background: url(../images/404/grass.png) repeat-x;
        left: 800px;
    }
</style>
<div id="error">
    <div id="grass">
    </div>
</div>