{% extends "WedWeddingBundle::layout.html.twig" %}
 
{% block title %}
    symfony2 Blog Tutorial | Admin | Home
{% endblock %}
 
{% block content %}
    <ul>
        <li>Index</li>
        <li>Nuevo usuario</li>
        <li>Nuevos invitados</li>
    </ul>
    <h2>
        Welcome to the Admin Homepage {{ app.user.username }}!
    </h2>
{% endblock %}