body{ 
	background:#f8f8f8;
	font:13px Trebuchet MS, Arial, Helvetica, Sans-Serif;
	color:#333;
	line-height:160%;
	margin:0;
	padding:0;
	text-align:center;
	}

h1{
	font-size:200%;
	font-weight:normal;
	}		
h2, h3, h4, h5, h6{
	font-weight:normal;
	margin:1em 0;
	}	
h2{            
	font-size:160%;
	}	
h3{          
	font-size:140%;
	}
h4{          
	font-size:120%;
	}				

a{
	text-decoration:none;
	color:#f30;
	}
a:hover{
	color:#999;
	}			
table, input, textarea, select, li{
	font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	line-height:160%;
	color:#333;
	}				
p, blockquote, ol, form{
	margin:1em 0;
	}
blockquote{
	}
img{
    border:none;
}			
hr{
    display:none;
}	
table{
    margin:1em 0;
    width:100%;
    border-collapse:collapse;
}
th, td{	
    padding:2px 5px;
}	
th{	
    text-align:left;
}
ul {
    list-style: none;
}
li{
    display:list-item;
}

#headermenu{
    margin:0 auto;
    background:#fff;
    width:600px;
    padding:10px 40px;
    text-align:left;
}

#container{	
    margin:0 auto;
    background:#fff;
    width:600px;
    padding:20px 40px;
    text-align:left;
}

#container div.edit-guest-form{
    margin: 0 auto;
}

/* form 2 - Edit guest */

.form-2{
    margin:1em 0;
    color:#fff;
    width:520px; /* customize width, this form have fluid layout */
    }
.form-2 h3{
    margin:0;
    background:#57a700 url(../images/form2/form_heading.gif) repeat-x;		
    color:#fff;
    font-size:20px;
    border:1px solid #57a700;
    border-bottom:none;
    }		
.form-2 h3 span{
    display:block;
    padding:10px 20px;
    background:url(../images/form2/form_ico.gif) no-repeat 93% 50%;			
    }				
.form-2 fieldset{
    margin:0;
    padding:0;
    border:none;	
    border-top:3px solid #000;
    background:#000 url(../images/form2/form_top.gif) repeat-x;		
    padding-bottom:1em;
    }		
.form-2 legend{display:none;}
.form-2 p{margin:.5em 20px;}
.form-2 label{display:block;}
.form-2 input, .form-2 textarea{
    width:272px;
    border:1px solid #111;
    background:#282828 url(../images/form2/form_input.gif) repeat-x;
    padding:2px 3px;
    color:#fff;
    }
.form-2 textarea{
    height:125px;
    overflow:auto;
    }					
.form-2 p.submit{
    text-align:right;
    }	
.form-2 p.first{
    border-bottom: 1px solid #ffffff;
}
.form-2 p.first span{
    display: block;
}
.form-2 p.first span img{
    float: right;
}
.form-2 button{
    padding:0 20px;
    height:32px;
    line-height:32px;		
    border:1px solid #70ad2e;
    background:#5aae00 url(../images/form2/form_button.gif) repeat-x;
    color:#fff;
    cursor:pointer;		
    text-align:center;		
}
.form-2 ul{
    padding: 5px 20px;
    margin: 0px;
    background:#000000;
}
.form-2 ul li{
    color: #ffffff;
}
.form-2 ul li.add-guest img,
.form-2 img.remove-guest{
    cursor: pointer;
}
.form-2 span.guest-number{
    height: 32px;
}
.form-2 p.first span{
    color: #ffff33;
}

.form-2 label.error{
    color: #ff3300;
}
.form-2 div.flash-notice{
    color: #00aa00;
    background-color: #000000;
    font-weight: bold;
    padding: .5em 20px;
}

/* // form 2 */

/* Header Menu */
ul.header-menu {
    clear: both;
    height: 32px;
    background-color: #000000;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
ul.header-menu a:visited{
    color: #cacaca;
}
ul.header-menu li {
    color: #cacaca;
    font-weight: bold;
    float: left;
    padding: 4px 25px 5px 5px;
    cursor: pointer;
    margin-top: 2px;
}
ul.header-menu li:hover{
    background-color: #00aa00;
}

/* Users List */
div.user-list-menu {
    width: 100%;
    border-bottom: 2px #000000 solid;
    margin-bottom: 15px;
}

div.user-list-menu ul {
    width: 100%;
    height: 32px;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

div.user-list-menu ul li {
    float: left;
    padding-right: 10px;
}

ul.users-list {
    font-size: 11px;
    clear: both;
    height: 24px;
    border-bottom: 1px #000000 solid;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

ul.users-list:hover{
    background-color: #eeeeee;
}

ul.users-list li {
    float: left;
    padding-right: 10px;
}

ul.users-list li span {
    height: 24px;
    line-height: 24px;
}

ul.users-list li.user-id {
    width: 40px;
}
ul.users-list li.user-firstname {
    width: 80px;
}
ul.users-list li.user-lastname {
    width: 120px;
}
ul.users-list li.user-email {
    width: 190px;
}
ul.users-list li.user-guests {
    width: 70px;
}
ul.users-list img {
    vertical-align: middle;
}

/* Guest View */

div.view-guest-container button.view-guest-button {

}

ul.view-guest-row {
    clear: both;
    height: 20px;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

ul.view-guest-row li.view-guest-cell {
    float: left;
    padding: 0 8px 0
}

ul.view-guest-row:hover {
    background-color: #eeeeee;
}
